// Tailwind
@tailwind base;
@tailwind components;
@tailwind utilities;

@import "normalize.css/normalize";

// Site Mixins, Variables and Fonts here
@import "./mixins";
@import "./styles";
@import "./fonts";

@import "./components/stickers.scss";
@import "./components/media-list.scss";
@import "./components/bg-forest.scss";

*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

// Print layout here
@media print {
}

.under-fix {
	pointer-events: none;
	position: fixed;
	color: white;
    font-weight: bold;
    font-size: 6rem;
    top: 245px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 100%;
    height: 160px;
    z-index: 69;
    filter: drop-shadow(2px 4px 6px black);
    color: yellow;
    transform: rotate(-15deg) scale(0.4);
    bottom: 0;
	text-align: center;
	@screen sm {
		font-size: 7.8rem;
		width: 680px;
		transform: scale(1);
	}

	@screen md {
		font-size: 8rem;
		top: 340px;
	}

	@screen lg {
		font-size: 8rem;
	}

	@screen 2xl {
		font-size: 8rem;
	}
}